<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Aesthetic Webpage</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Retro Signal Tracker</h1>
    </header>
    <main>
        <section id="audio-section">
            <h2>Audio Source</h2>
            <audio id="audio-player" controls>
                <source src="../static/audio/example_long.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </section>
         <section id="signal-meters-section">
            <h2>Signal Meters</h2>
            <div class="meter-container">
                <div id="signal-strength-section">
                    <h3>Strength</h3>
                    <div id="signal-strength"></div>
                </div>
                <div id="direction-section">
                    <h3>Direction</h3>
                    <div id="compass">
                        <div id="arrow"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/js/scripts.js"></script>
</body>
</html>
