<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Aesthetic Webpage</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <h1>Signal Tracker</h1>
    </header>
    <main>
        <section id="audio-section">
            <h2>Audio Source</h2>
            <div id="btn" class="button">cerca trasmissioni</div>  <!-- todo: renderlo più bello -->
            <div id="alt_audio" hidden></div>
            <audio id="audio" controls="controls" hidden>
                  <source id="audioSource" src=""></source>
            </audio>
        </section>
         <section id="signal-meters-section">
            <h2>Signal Meters</h2>
            <div class="meter-container">
                <div id="signal-strength-section">
                    <h3>Strength</h3>
                    <div id="signal-strength"></div>
                </div>
                <div id="direction-section">
                    <h3>Direction</h3>
                    <div id="compass">
                        <div id="arrow"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/js/functions.js"></script>
</body>
</html>
